html, body, div, aside, article, section, header, footer,
p, h1, h2, h3, h4, h5, a, ul, li, img, span {
    margin: 0;
    padding: 0;
}
html {
    background: #fff;
    color: #000;
    font-size: 12px;
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    display: inline-block;
}
.clearfix:after{
    clear: both;
    display: block;
    content: "";
    height: 0;
}
#btn-navigation-site, #btn-navigation, #btn-footer {
    display: none;
}
#logo-header, #navigation-products{
    width: 100%;
    background-color: #ffca12;
}
#holder-navigation-site, .wrapper, #navigation, #container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#navigation-site{
    width: 65%;
    float: left;
}
#navigation-site li {
    padding-left: 1.5%;
    margin-bottom: 1px;
    margin-top: 2px;
    display: inline-block;
    padding-right: 1.5%;
    border-right: 1px #c5c1b0 dashed;
}
#navigation-site a{
    text-transform: capitalize;
    color: #c5c1b0;
    font-size: 1.2em;
}
#contact-us {
    width: 35%;
    text-align: right;
    float: right;
}
#contact-us p {
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    margin-right: 5%;
}
.small-image {
    width: 5%;
    margin-right: 1%;
}

#wrapper {
    width: 100%;
    background: #7d9031; /* Old browsers */
/*    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkOTAzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzhjYTEzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2FjYzU0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzhjYTEzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDkwMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
    background: -moz-linear-gradient(left,  #7d9031 0%, #8ca138 25%, #acc548 49%, #8ca138 76%, #7d9031 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7d9031), color-stop(25%,#8ca138), color-stop(49%,#acc548), color-stop(76%,#8ca138), color-stop(100%,#7d9031));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(left,  #7d9031 0%,#8ca138 25%,#acc548 49%,#8ca138 76%,#7d9031 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(left,  #7d9031 0%,#8ca138 25%,#acc548 49%,#8ca138 76%,#7d9031 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(left,  #7d9031 0%,#8ca138 25%,#acc548 49%,#8ca138 76%,#7d9031 100%);  IE10+ */
    /*background: linear-gradient(to right,  #7d9031 0%,#8ca138 25%,#acc548 49%,#8ca138 76%,#7d9031 100%);  W3C */
}

#shopping-bag, #logo, #search {
    width: 30%;
    float: left;
}
#shopping-bag img {
    float: left;
    margin: 2% 5%;
}
#shopping-bag p {
    display: inline-block;
    color: #fff;
    margin-top: 15%;
}
#shopping-bag button {
    display: inline-block;
    background-color: #b20e00;
    border: none;
    border-radius: 15px;
    color: #f3a600;
    text-transform: capitalize;
}
#logo{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 2% 5%;
    font-weight: bold;
    font-size: 1.3em;
}

#search input, #search button {
    border: none;
    background-color: #b20e00;
    border-radius: 10px;
    margin-top: 15%;
}
#search input {
    width: 85%;
    padding-left: 5%;
}
#search button {
    margin-left: -10%;
}

#navigation li {
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-bottom: 1%;
    margin-top: 1%;
    display: inline-block;
}
#navigation li:first-of-type{
    background-color: #b20e00;
    border-radius: 5px;
}
#navigation a {
    color: #fff;
    text-transform: uppercase;
}
#header {
    background-color: #ffca12;
}
#title {
    width: 40%;
    float: left;
    color: #fff;
    padding: 5%;
    font-size: 2.3em;
    text-transform: capitalize;
    font-weight: bold;
}
#title p:first-of-type {
    margin-left: 1%
}
#big-font {
    font-size: 3em;
    text-transform: uppercase;
}

#header-image-holder {
    width: 50%;
    float: right;
}
#header-image-holder img:first-of-type {
    margin-right: 15%;
    margin-bottom: 8%;
}
#header-image-holder img:last-of-type {
    width: 40%;
} 

#product-info {
    position: absolute;
    padding-bottom: 2%;
    padding-top: 2%;
    top: 340px;
    left: 12%;
    width: 76%;
    background-color: rgba(0,0,0,0.7);
}
#product-info h2 {
    display: inline-block;
    text-transform: uppercase;
    color: #ffca12;
    width: 25%;
    margin-right: 2%;
    margin-left: 2%;
}
#product-info p {
    display: inline-block;
    width: 70%;
    color: #fff;
}

#asides {
    width:  25%;
    float: left;
}
#container {
    margin-top: 2%;
    margin-bottom: 5%;
}

#categories header {
    background-color: #ffca12;
    color: #fff;
    padding: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: capitalize;
    text-align: center;
}
#categories article {
    background-color: #ffeeb7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#categories li {
    width: 98%;
    padding-bottom: 5%;
    margin-left: 2%;
    padding-top: 5%;
    border-bottom: 1px solid #fff;
}
#categories li:first-of-type {
    margin-top: 5%;
}
#categories li:last-of-type {
    margin-bottom: 5%;
    border-bottom: none;
}
#categories a {
    padding-left: 12%;
    color: #8e8771;
}
#categories a:hover {
    color: #b20e00;
}

#products {
    width: 75%;
    float: right;
}
#products header {
    margin-left: 2%;
    text-transform: capitalize;
}
#products h2 {
    margin-top: 3%;
}

#content h2, #products h2{
    text-transform: uppercase;
    margin-left: 2%;
    margin-bottom: 2%;
}
#content div{
    width: 23%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    float: left;
}
#content div img {
    width: 100%;
    margin-bottom: 5%;
}
#content div h4 {
    text-transform: capitalize;
}
#content div span:last-of-type {
    color: #f00;
}
.price {
    text-transform: capitalize;
}

#navigation-pages {
    width: 99%;
    text-align: center;
    border-bottom: 1px solid #eeeeed;
    padding-bottom: 2%;
}
#navigation-pages li {
    padding: 1% 2%;
    display: inline-block;
    background-color: #b20e00;
}

#featured-product {
    width: 98%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: #e36120;
    /*margin-bottom: 15%;*/
}
#featured-product div {
    width: 25%;
    text-align: center;
    margin: 5% 2.5%;
    float: left;
}
#featured-product button{
    float: left;
    width: 5%;
    margin-top: 13%;
    border: none;
    background-color: #e36120;
}
#featured-product button:first-of-type {
    margin-left: -1%;
    border-top-left-radius: 5px;
}
#featured-product button:last-of-type {
    margin-left: 2%;
    margin-right: -1%;
    border-top-right-radius: 5px;
}
#featured-product div span{
    color: #b20e00;
}

#newsletter {
    margin-top: 15%;
    margin-bottom: 15%;
    background: #ffeeb7 url('../images/bg-news.png') repeat-x top left;
    border-radius: 15px;
}
#newsletter header {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 5%;
    padding-top: 5%;
    border-bottom: 1px solid #fff;
}
#newsletter header p {
    color: #434343;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
#newsletter input{
    width: 90%;
    border: none;
    margin: 5%;
    background-color: #434343;
}
#newsletter button {
    border-radius: 5px;
    margin-left: 30%;
    text-transform: capitalize;
    background-color: #b20e00;
    color: #fff;
    border: none;
}
#newsletter img {
    float: left;
    margin-right: 5%;
    margin-left: 10%;
}
#newsletter li {
    width: 98%;
    padding-bottom: 10%;
    color: #434343;
    padding-top: 3%;
    border-bottom: 1px solid #fff;
}
#newsletter li:last-of-type {
    border-bottom: none;
}
#newsletter li:after {
    clear: both;
}

#payment-images {
    width: 99%;
    text-align: center;
}
#payment-images img {
    width: 90%;
    display: block;
}

#footer{
    background-color: #b20e00;
    color: #fff;
}
#header-footer {
    padding-top: 1%;
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
}
#header-footer img {
    width: 5%;
}
#header-footer p {
    margin: 2% 1%;
    font-weight: bold;
}
#header-footer img, #header-footer p {
    float: left;
}
#header-footer input {
    width: 20%;
    background: none;
    border: none;
    padding-left: 2%;
    margin-top: 1%;
}
#header-footer button {
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-weight: bold;
    background: none;
}

#holder-asides {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#holder-asides h4 {
    margin-bottom: 10%;
    margin-top: 10%;
}
#holder-asides aside {
    width: 20%;
    float: left;
    text-transform: capitalize;
}
#categories-footer {
    margin-left: -5%;
    margin-right: 3%;
}
#holder-asides aside li {
    display: block;
    margin-bottom: 3%;
}
#holder-asides a {
    color: #fff;
    font-size: 1em;
}
#contact-us-footer p {
    margin-top: 12%;
    font-size: 0.9em;
}